// =============================================================================
// Loader
// =============================================================================

#loading-screen {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c2f40;
    opacity: 1;
    transition: 1s opacity;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-screen.fade-out {
    opacity: 0;
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(5, 8, 13, 0.25) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #d99e6a inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
